@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Disaster Alleviation Foundation</h1>
    <p>Welcome to our new Member ! Please login/ Register to join us on our mission!!</a>.</p>
</div>
